html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: black;
  background-color: black;
  margin: 0;
}

.cover-all-view-port {
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: black;
  color: black;
}

.html5-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /*background-color:#444;*/
  background-color: rgba(0, 0, 0, 0)
}

.front-panel {
  z-index: 10000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.0);
}

.top-panel {
  width: 100vw;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.bottom-panel {
  position: absolute;
  display: none;
  left: 0px;
  bottom: 0px;
  height: 80px;
  width: 100vw;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.8);
  color: white;
}

.bottom-panel-video {
  display: none;
}

.full-width {
  width: 100vw;
}

.custom-seek-bar {
  width: 100%;
}

.video-controls-table {
  width: 100%;
}

.page {
  width: 100%;
  height: 100%;
  background-color:#000;
}

.video-page {
  display: block;
}

.picture-page {
  display: none;
}

.music-page {
  display: none;
}

.loading-pic {
  position: absolute;
  z-index: 0;
  left: calc(50vw - 100px);
  top: calc(50vh - 100px);
}

a:hover {
  color: cornflowerblue;
}

.page-selector-link {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.cover-top-panel {
  width: 100vw;
  height: 50px;
  color: cyan;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  align-items: center;
}
