html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: black;
  background-color: black;
  margin: 0;
}

:root {
  --top-panel-height: 55px;
  --bottom-panel-height: 65px;
}

.cover-all-view-port {
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: black;
  color: black;
}

.html5-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /*background-color:#444;*/
  background-color: rgba(0, 0, 0, 0)
}

.front-panel {
  z-index: 10000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.0);
}

.top-panel {
  width: 100vw;
  display: none;
  height: var(--top-panel-height);
  z-index: 10000000;
}

.bottom-panel {
  position: absolute;
  display: none;
  left: 0px;
  bottom: 0px;
  height: var(--bottom-panel-height);
  width: 100vw;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.8);
  color: white;
}

.bottom-panel-video {
  display: none;
}

.full-width {
  width: 100vw;
}

.custom-seek-bar {
  width: 100%;
}

.video-controls-table {
  width: 100%;
}

.page {
  width: 100%;
  height: 100%;
  background-color:#000;
  color: white;
}

.video-page {
  display: block;
}

.picture-page {
  display: none;
}

.music-page {
  display: none;
}

.loading-pic {
  position: absolute;
  z-index: 0;
  left: calc(50vw - 100px);
  top: calc(50vh - 100px);
}

.cover-non-stretched {
  width: 100vw;
  height: 100vh;
  object-fit: scale-down;
}

a:hover {
  color: cornflowerblue;
}

.page-selector-link {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.cover-top-panel {
  width: 25vw;
  height: var(--top-panel-height);
  position: relative;
  top: 0;
  left: calc(50vw - 14.5vw);
  color: cyan;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}


.bottom-panel-picture {
  height: var(--bottom-panel-height);
}

.front-buttons {
  display: block;
  position: absolute;
  align-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.0);
  top: calc(50vh - 7.5vh);
  width: 15vw;
  height: 15vh;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
}

.front-buttons:hover {
  background-color: rgba(90, 90, 45, 0.5);
  cursor: pointer;
}

.buttons-visible {
  background-color: rgba(100, 100, 80, 0.5);
}

.play-pause-container {
  left: calc(50vw - 7.5vw);
  -webkit-mask: url(/pics/play-circle.svg) no-repeat center;
  mask: url(/pics/play-circle.svg) no-repeat center;
}

.next-container {
  left: calc(50vw + 15vw);
  top: calc(50vh - 7.5vh);
  -webkit-mask: url(/pics/arrow-alt-circle-right.svg) no-repeat center;
  mask: url(/pics/arrow-alt-circle-right.svg) no-repeat center;
}

.maximize-container {
  left: calc(80vw);
  top: calc(15vh);
  -webkit-mask: url(/pics/window-restore.svg) no-repeat center;
  mask: url(/pics/window-restore.svg) no-repeat center;
}

.previous-container {
  left: calc(50vw - 30vw);
  -webkit-mask: url(/pics/arrow-alt-circle-left.svg) no-repeat center;
  mask: url(/pics/arrow-alt-circle-left.svg) no-repeat center;
}
